<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
  <add name="strCon" connectionString="SERVER=sql.bsite.net\MSSQL2016;USER=snizhel_; PASSWORD=veemon789 ; DATABASE=snizhel_"
   providerName="System.Data.SqlClient" />
  <add name="EmployeeManagement.Properties.Settings.snizhel_ConnectionString"
   connectionString="Data Source=sql.bsite.net\MSSQL2016;Initial Catalog=snizhel_;Persist Security Info=True;User ID=snizhel_"
   providerName="System.Data.SqlClient" />
  <add name="EmployeeManagement.Properties.Settings.snizhel_ConnectionString1"
   connectionString="Data Source=sql.bsite.net\MSSQL2016;Initial Catalog=snizhel_;User ID=snizhel_"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	

</configuration>